* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.user-select {
  position: fixed;
  left: 1%;
  top: 1%;
  padding: 5 10px;
  width: 200px;
  height: 30px;
}

.todolist {
  display: flex;
  justify-content: center;
}

.todos-container {
  margin: 120px 0;
}
